@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
}

.main {
    background-image: url("Sources/Images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    opacity: 0.65;
    position: absolute;
    width: 100%;
    top: 0;
    background-color: black;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    height: 60px;
}

.logo {
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100% - 62px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 18px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.hero :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line {
    height: 6px;
    background-color: rgb(55, 55, 55);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(31, 31, 31, 0.033);
    border: 1px solid white;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;

}

.red-btn {
    background-color: red;
    color: white;
    padding: 3px 12px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    font-weight: bold !important;
    padding: 11px 14px;
    font-size: 16px !important;

}

.language {
    padding: 3px 24px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main input {
    padding: 13px 200px 13px 9px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    background-color: rgba(23, 23, 23, 0.8);
    border: 1px solid rgba(85, 85, 85, 0.8);
    box-shadow: 0px 0.5px 1px rgb(255, 255, 255);
}

section {
    font-family: Arial, Helvetica, sans-serif;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.first h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 10px;
}

.first p {
    color: white;
    font-size: 18px;
    width: 430px;
}

.secimg {
    position: relative;
    padding-bottom: 50px;
}

.secimg img {
    width: 455px;
    position: relative;
    z-index: 10;
}

.secimg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 455px;
}

.faq h2 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.faq-box svg {
    filter: invert(1);
}

.faq-box:hover {
    background-color: #414141;
}

.faq-box {
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    background-color: #2d2d2d;
    margin: 7px auto;
    max-width: 60vw;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.faq-box:last-child {
    margin-bottom: 50px;
}

footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80vw;
    margin: auto;
    padding: 14px;
}

footer div {
    padding: 24px 0;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {

    display: flex;
    flex-direction: column;
    gap: 23px;
}

.container {
    text-align: center;
}

.container p {
    text-align: center;
}

@media screen and (max-width:1000px) {
    .first {
        flex-wrap: wrap;
    }

    .secimg img {
        width: 305px;
    }

    .secimg video {
        position: absolute;
        top: 51px;
        right: 0;
        width: 305px;
    }

    .first h1 {
        padding: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}